#auth-container {
  display: flex;
  flex-direction: column;
  width: 25rem;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  margin: 0 auto;
}

.loggin-form {
  display: flex;
  flex-direction: column;
  padding: 1rem;
}

.auth-title {
  text-align: center;
  font-size: 18px;
}

.email-input,
.password-input,
.nickname-input {
  border-radius: var(--main-br);
  border: 1px solid blue;
  font-size: 18px;
  padding: var(--main-pd);
  margin: var(--main-mg);
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
}

.submit-btn {
  border: 1px solid blue;
  background-color: #fff;
  color: blue;
  margin: var(--secondary-mg);
  border-radius: var(--main-br);
  padding: var(--main-pd);
  font-size: 18px;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
  cursor: pointer;
}

.submit-btn:hover {
  border: none;
  color: #fff;
  background-color: blue;
}

.login-form.active {
}

.register-form.active {
}
