.create-section {
  margin-bottom: 40px;
  padding: 20px;
  border: 1px solid #ccc;
  max-width: 500px;
}

.post-container {
  margin-bottom: 10px;
}

input {
  width: 100%;
}

.post-area {
  width: 100%;
}
